<div class="videoGames">
    {{#each partials.videoGames.videoGames}}
        <div class="game">
            <h3>{{name}}</h3>

            {{#if developerUrl}}
                <p><a href="{{developerUrl}}">{{developer}}</a>, {{release}}</p>

            {{else}}
                <p>{{developer}}, {{release}}</p>
            {{/if}}



            <p>{{description}}</p>
        </div>
    {{/each}}
</div>