<!-- List O People Page -->
<!-- Handlebars on the front end -->

<head>
    <script src="/lib/handlebars.min.js"></script>
    <script src="/lib/jquery.min.js"></script>


    <!-- ========== TEMPLATES ========== -->
    <!--front end template-->
    <script id="peopleTemplate" type="text/x-handlebars-template">
        <div><span class="fa fa-user" style="color: rgba(200,100,100,1.0);"></span>
            \{{firstname}}, \{{lastname}} <span class="label label-success">\{{age}}</span>,
            <a href="#">\{{email}}</a>
        </div>
    </script>

    <!--second template since first doesn't work-->
    <script id="secondTemplate" type="text/x-handlebars-template">
        <h1><span class="fa fa-thumbs-up"></span> This is finally working.</h1>
        <p>(from 'secondTemplate')</p>
    </script>

    <!-- table template -->
    <script id="tableTemplate" type="text/x-handlebars-template">
        <h1><span class="fa fa-user"></span> List o' Peeps</h1>

        \{{#if debug}}
            <h2><span class="fa fa-bug" style="color: rgba(244,200,200,1.0)"></span> Debug mode active.</h2>
        \{{/if}}

        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>Firstname</th>
                        <th>Lastname</th>
                        <th>Age</th>
                        <th>Email</th>
                        <th>Edit</th>
                    </tr>
                </thead>

                <tbody>

                <!-- templating magic, just need to pass 'users' object-->

                \{{#each users}}
                    <tr  id="\{{firstname}}\{{lastname}}\{{age}}">
                        <!--these work when passed in data from the backend (without the escaping)-->
                        <td class="clickEditable">\{{firstname}}</td>
                        <td>\{{lastname}}</td>
                        <td>\{{age}}</td>
                        <td>\{{email}}</td>
                        <td><span class="fa fa-minus-circle grabMe"></span></td>
                        <!--TODO: use custom data-<attribute> to identify which ID to target when updating.-->

                    </tr>
                \{{/each}}
                </tbody>
            </table>
        </div>
    </script>

</head>

<!-- MAIN HTML -->

<!--LOAD SPINNER -->
<div class="loadingSpinnerContainer">
    <div class="loadingSpinner">
        <span class="fa fa-spinner fa-pulse fa-3x"></span>
    </div>
</div>
<!-- LOAD SPINNER-END -->

<!-- MAIN BODY -->
<div class="container jeffBox">
    <!--{{#each users}}-->
        <!--<div><span class="fa fa-user" style="color: rgba(100,200,100,1.0);"></span>-->
            <!--{{firstname}} {{lastname}}-->
            <!--<span class="label label-info">{{age}}</span>,-->
            <!--<a href="mailto:{{{email}}}">{{email}}</a>-->
        <!--</div>-->
    <!--{{/each}}-->

    <h3><a href="/add-people"><span class="fa fa-plus-circle"></span> user</a></h3>
    <button id="localButton" class="btn btn-default">get local data</button>
    <button id="button" class="btn btn-success">get data</button>

    <!-- Dump results to here -->
    <div id="peopleResults"></div>
</div>

<!-- MAIN BODY - END -->

<!-- LOGIC-->
<script>

    var $loadSpinner = $('.loadingSpinnerContainer');

    window.addEventListener('DOMContentLoaded', function(e){
        $loadSpinner.hide();
    });


    window.addEventListener('load', function(e){
        var localData = {
            users:[
                {firstname: 'jeff', lastname:'wu', age:32, email:'jefferson.wu@180la.com'},
                {firstname: 'toon', lastname:'leyson', age: 26, email:'toon.leyson@180la.com'},
                {firstname: 'stacey', lastname:'savage', age: 40, email:'stacey.savage@180la.com'}
            ],
            debug: true
        };
        var chosenTemplate = Handlebars.compile($('#tableTemplate').html());   //modify here for diff template view
        var localButton = document.getElementById('localButton');
        var button = document.getElementById('button');
        var resultDiv = $('#peopleResults');

        //localData button
        localButton.addEventListener('click', function(e){
            e.preventDefault();
            console.log(localData);

            resultDiv.html(chosenTemplate(localData));
        });


        //getData button
        button.addEventListener('click', function(e){
            e.preventDefault();

            $loadSpinner.show();

            //jquery AJAX cheat codes
            $.ajax('/data/list-o-people', {
                success: function(data){
                    resultDiv.html(chosenTemplate(data));
                    console.log(data);
                    $loadSpinner.hide();
                    deleteUser();
                },
                error: function(jqXHR, status, err){
                    resultDiv.html('status: ' + status + ', error: ' + err);
                    console.log(jqXHR);
                }
            });
        });
    });


    function deleteUser(){
        var listOfUserButtons = document.getElementsByClassName('grabMe');
        console.log(listOfUserButtons);

        //grab all the table-row parent nodes and add functionality.
        //TODO: add delete functionality.
        //TODO: move functionality over to external JS file.
        for (var i = 0; i < listOfUserButtons.length; i++){
            console.log(listOfUserButtons[i].parentNode.parentNode);

            listOfUserButtons[i].parentNode.parentNode.addEventListener('click', function(e){
                console.log('clicked ' + this.id);

                this.classList.add('success');
            });
        }

    }

</script>

