
<h3>
    <a href="/add-people">add person</a>
</h3>
<p>
{{#if error}}
    <h1>{{error}}</h1>

{{else}}
    <ul class="list-group">
        {{#each users}}

            <li class="list-group-item">
                {{firstname}}, {{lastname}}, {{email}}, {{age}}
            </li>

        {{/each}}
    </ul>
{{/if}}
</p>
