<h3>
    <a href="/add-people">add person</a>
</h3>
<p>
{{#if error}}
    <h1>{{error}}</h1>

{{else}}
    <div class="list-group jeffBox">
        {{#each users}}

            <div class="list-group-item col-md-4 col-sm-6 col-xs-12">
                <h4 class="list-group-item-heading">
                    {{firstname}} {{lastname}}, <span class="label label-info">{{age}}</span>
                </h4>
                <p class="list-group-item-text">
                    <a href="mailto:{{email}}">{{email}}</a>
                </p>
            </div>

        {{/each}}
    </div>
{{/if}}
</p>
